<h1>Create a New Stylist</h1>

<form action="/stylists/new" method="post">
  <label>Stylist name</label>
  <input type="text" name="name">
<button type="submit">Add Stylist</button>
</form>
<a href="/"> Go Home</a>
